/* * {
    background-image: url(main-background.jpg);
    background-size: cover;
} */

h2#title {
    color: rgb(90, 90, 90);
    text-align: center;
    background-color: rgba(255, 253, 155, 0.76);
    padding: 30px;
    margin-bottom: 4px;
}

nav {
    position: sticky;
    top: 0;
}
ul#main-menu {
    background-color: rgb(34, 182, 231);
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li.menu {
    display: inline-block;
}

li.menu a {
    color: rgb(63, 63, 63);
    background-color: rgba(255, 255, 255, 0.726);
    text-decoration: none;
    display: inline-block;
    padding: 8px 50px;
    margin: 10px 20px;
    border-radius: 8px;
}

li.menu a:hover {
    background-color: rgb(255, 255, 255);
}

div#web {
    background-color: rgb(235, 235, 235);
    max-width: 500px;
    height: 300px;
}

div#web h3 {
    display: inline-block;
    text-align: center;
    margin: 50%;
}

img {
    width: 500px;
    height: 400px;
    border-radius: 25%;
}

div.topics {
    display: flex;
    flex-direction: column;
}

div.container {
    background-color: rgb(210, 239, 248);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

div.topic {
    border-radius: 30px;
    height: 400px;
}

a.topic {
    text-decoration: none;
    color: white;
}
